* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 1366px;
	margin: 0 auto;
}

.secao h2 {
	font-size: 32px;
	padding: 30px auto;
}

.artigos {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: space-around;
}

.artigos img {
	width: 100%;
}

.artigos article {
	width: 30%;
}

.artigos h3 {
	font-size: 24px;
	margin: 8px auto;
}

.artigos a {
	text-decoration: none;
	color: #fff;
	background-color: #737071;
	padding: 8px;
	display: inline-block;
	margin: 5px;
}

/*#economia, #regiao {
	background-color: #CCCC;
}

#economia h2, #regiao h2 {
	background: linear-gradient(0deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
}

#esportes h2, #games h2 {
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
}*/

.secao h2, #economia h2, #regiao h2, #esportes h2, #games h2 {

  font-size: 32px;

  padding: 10px;

  background: linear-gradient(180deg, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%);

  text-align: center;

  margin-bottom: 20px;

 }

 

 #economia, #regiao, #esportes, #games {

  background: linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%);

 }